.title {
    font-weight: bold;
    font-style: italic;
    font-size: 30;
    color: green;
    margin-bottom: 1%;
    margin-left: 10px;
}

.name {
    font-weight: bold;
    font-size: 50;
}

.bullets {
    font-weight: bold;
    font-size: 20;
    color: green;
}

.info {
    font-size: 16;
    margin-left: 2%;
    margin-right: 30%;

}


.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-left: 10px;
    margin-bottom:10%;
    margin-top: 10%;
    margin-left: 10%;
}

.leftpane {
    width: 40%;
    height: auto;
    float: left;
}


.rightpane {
  width: 60%;
  height: auto;
  position: relative;
  float: right;
  border-collapse: collapse;
}

.toppane {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    border-width: 2;
    border-color: black;
    background-image: linear-gradient(to bottom right, green , white);
  }

  body, html {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }

  li{
      margin-top: 3%;
  }

  .separator {
    /* border-style: dashed;
    border-width: 5px;
    border-color: white;
    border-top-color: green; */
    color: green;
    height: 5px;
    background-color: green;
}

